html, body {
    height: 100%;
    margin: 0;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.Box {
    text-align: center;
    background: hsla(0, 0%, 100%, 0.945);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(12, 197, 229, 0.3);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bffe4;
    color: white;
}

button:hover {
     transition: 0.5s;
    background-color: #0057b3b5;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
#uuidDisplay{
   font-weight: bold;


}
footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #007BFF;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight:bold;
    
}
